.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#logo_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
}
#button_first {
background-color: rgb(177, 19, 19);
color: white;
border: 2px solid rgb(177, 19, 19);
border-radius: 12px;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
width: 45%;
margin-top: 15%
}