.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#logo_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
#button_first {
    background-color: rgb(28, 143, 209);
    color: white;
    border: 1.5px solid white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 55%;
    margin-top: 7.5%
}
#button_second {
    background-color: rgb(28, 143, 209);
    color: white;
    border: 1.5px solid white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 55%;
    margin-top: 7.5%
}
#flag_first{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    width: 75px;
    height: 50px;
}
#flag_second{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    width: 75px;
    height: 50px;
}
#font_language{
    margin-top: 2.5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display: inline-block;
}
.row {
    display: flex;
}
.column {
    flex: 50%;
    padding: 5px;
}
#div_flags{
    margin-top: 7.5%;
}