.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#logo_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
}
#button_first {
background-color: rgb(28, 143, 209);
color: white;
border: 2px solid rgb(28, 143, 209);
border-radius: 12px;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
width: 45%;
margin-top: 15%
}